:80 {
  encode gzip
  header {
    Access-Control-Allow-Origin "*"
    Access-Control-Allow-Methods "GET,POST,PUT,PATCH,DELETE,OPTIONS"
    Access-Control-Allow-Headers "Content-Type, Authorization, X-Tenant-ID"
  }
  @api path /api* /openapi.json /docs* /redoc*
  reverse_proxy @api backend:8000

  handle {
    root * /srv
    try_files {path} /index.html
    file_server
  }
}
