fastapi==0.115.0
uvicorn[standard]==0.30.6
gunicorn==21.2.0
SQLAlchemy==2.0.32
alembic==1.13.2
psycopg2-binary==2.9.9
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
Jinja2==3.1.4
python-dotenv==1.0.1
PyYAML==6.0.2
redis==5.0.7
