{% extends "_base/layout.html" %}
{% block content %}
<div id="labelUploadLogsRoot">
  <div class="tabrow" id="tabRow">
    <div class="tabrow-inner">
      <div class="tab-offset" aria-hidden="true"></div>
      <div class="tab-wrap">
        <div class="tabs" id="tabs"></div>
        <div class="tabcard" id="tabCard">
          <div class="tabpanel" id="tabPanel">加载中…</div>
        </div>
        <div class="table-wrap hidden" id="logsTableWrap"><div class="table-scroll"><table class="table"><thead></thead><tbody id="logsTbody"></tbody></table></div></div>
      </div>
    </div>
  </div>
  <div class="footer-bar hidden" id="footerBar"><div class="inner"></div></div>
</div>
<script src="/static/js/pages/label_upload_logs.js"></script>
{% endblock %}