{% extends "_base/layout.html" %}
{% block body %}
  <!-- 顶部 + 二级 + 三级 + 表格 + 底栏 + 弹窗 -->
  {% include "admin/_partials/shell_body.html" %}

  <!-- 行为脚本：核心 + 页级 -->
  <script src="/static/js/core/nav_capsule.js"></script>
  <script src="/static/js/core/tabs_ink.js"></script>
  <script src="/static/js/core/dropdown.js"></script>
  <script src="/static/js/core/select_enhance.js"></script>
  <script src="/static/js/core/modal.js"></script>
  <script src="/static/js/utils/clip.js"></script>
  <script src="/static/js/utils/time_picker_native.js"></script>
  <script src="/static/js/utils/chunk_render.js"></script>

  <!-- 面单列表 + 上传记录（页级脚本，会优先从 /api 取数据） -->
  <script src="/static/js/pages/label_upload_list.js"></script>
  <script src="/static/js/pages/label_upload_logs.js"></script>
{% endblock %}
